# 문제

![59-01](img/59-01.PNG)

![59-02](img/59-02.PNG)

하... 너무 어려운거 아닌가

# 분석

call59테이블은 3개의 열로 구성된걸로 보인다.

| id | phone | lv |

문제는 insert 구문에 lv가 guest로 고정된다는 건데 이건 다음과 같이 사용하면 피할 수 있다.

~~~
insert into chall59 values(        '1',1,'admin'),('2',2,            'guest')
~~~

다음과 같은 문구를 ip와 phone로 적절히 나눠서 입력하면 될 것 같다.

필터링은 주로 admin위주로 걸려있는데 16진수만 필터링 되는거 같아서 2진수 같은걸 사용하면 뚫릴 것 같다.

물론 addslashes()가 가장 큰 문제지만 말이다.

다음은 select구문이다.

여기도 adslashes()가 들어가긴 하는데, insert에 1이나 '1'로 입력했기에, insert만 잘한다면 select는 쉽게 넘어갈 수 있을 것이다.

근데 phone컬럼은 insert는 그냥 입력받는데 select는 ''가 있는거지?

어쨌든 결론.

# 빠른 포기

나 addslash()를 뚫어본 적이 없다.

어휴 모르는걸 모르면 몇 시간씩 걸리고 그러는데, 모른다는걸 아니까 빨리 포기할 수 있다. 뭐 좋은 일은 아니지만.

id를 nimda로 주고<br>
phone을 1,reverse(id)),(1,1 나 1,reverse(id))-- 로 주면 된다고 한다.

내가 생각했던 원리랑 비슷하긴한데, lv에 입력하는게 2진수가 아니었다. 아니 근데 insert하는데 다른 column에 입력한 값을 가져올 수 있는 건지를 몰랐다. sql은 정말 알아야하는게 많아야되는거 같다.

![59-03](img/59-03.PNG)